.login-card{
    border-radius: 0.25rem;
    width: 375px;
    box-shadow: rgb(50 50 93 / 25%) 0px 2px 5px -1px, rgb(0 0 0 / 30%) 0px 1px 3px -1px;
  }
  
  .rocket-img{
    height: 160px;
    width: 160px;
  }
  