<div class="h-screen flex justify-content-center align-items-center p-2">
    <div class="login-card bg-white p-4 pt-0">
        <div class="text-center">
            <img src="../assets/images/Rocket.svg" alt="rocket svg" />
        </div>

        <form [formGroup]="loginForm">
            <strong>
                <h2 class="text-center pb-2">{{ isLogin ? 'Login' : 'Register' }}</h2>
            </strong>
            <hr />
            <p class="my-3 text-center">
                {{ isLogin ? 'Please enter your credentials below to login.' : 'Please enter your information to
                register.' }}
            </p>
            <div class="my-3">
                <input type="text" class="form-input" placeholder="Enter Your Username" formControlName="username" />
                <div *ngIf="loginForm.get('username').invalid && loginForm.get('username').touched"
                    class="text-red ml-1">
                    <div *ngIf="loginForm.get('username').errors?.required"><small>Username is required</small></div>
                </div>
            </div>
            <div class="my-3">
                <input type="password" class="form-input" placeholder="Enter Your Password"
                    formControlName="password" />
                <div *ngIf="loginForm.get('password').invalid && loginForm.get('password').touched"
                    class="text-red ml-1">
                    <div *ngIf="loginForm.get('password').errors?.required"><small>Password is required</small></div>
                </div>
            </div>
            <div class="my-3 text-center">
                <button class="btn btn-black" type="submit" (click)="loginRequest()" [disabled]="!loginForm.valid">
                    {{ isLogin ? 'Login' : 'Register' }}
                </button>
            </div>
            <div class="my-3 text-center">
                <p>
                    {{ isLogin ? "Don't have an account?" : "Already a user?" }}
                    <span class="underline cursor-pointer" (click)="toggleStatus()">
                        {{ isLogin ? 'Register here' : 'Login here' }}
                    </span>
                </p>
            </div>
        </form>

        <h5 class="text-center">Developed By © Sachin Lokare</h5>
    </div>
</div>