<div class="p-3">
    <p-table [columns]="cols" [value]="admissions" responsiveLayout="scroll" [scrollable]="true" [rows]="100" #dt1
        dataKey="id" [rows]="8" [showCurrentPageReport]="true" [rowsPerPageOptions]="[8,10,25]" [paginator]="true"
        currentPageReportTemplate="Showing {first} to {last} of {totalRecords} entries"
        [globalFilterFields]="['registrationId','courseId','associateId','fees']"
        styleClass="p-datatable-sm p-datatable-gridlines">

        <ng-template pTemplate="caption">
            <p-toolbar styleClass="mb-4">
                <div class="w-full flex justify-content-between">
                    <button class="btn btn-danger" (click)="openNew()" *ngIf="access(['ROLE_ADMIN'])">Add Admission +</button>
                    <h2>Admission List</h2>
                    <div>
                        <input type="text" class="form-input"
                            (input)="dt1.filterGlobal($any($event.target).value, 'contains')"
                            placeholder="Search keyword" />
                    </div>
                </div>
            </p-toolbar>
        </ng-template>
        <ng-template pTemplate="header" let-columns>
            <tr>
                <th *ngFor="let col of columns" [pSortableColumn]="col.field">
                    {{col.header}} <p-sortIcon [field]="col.field"></p-sortIcon>
                </th>
                <th>Action</th>
            </tr>
            <tr>
                <th *ngFor="let col of columns">
                    <input class="form-input" type="text"
                        (input)="dt1.filter($any($event.target)?.value, col.field, 'contains')"
                        [value]="$any(dt1.filters[col.field])?.value" placeholder="Search by ">
                </th>
                <th></th>
            </tr>
        </ng-template>
        <ng-template pTemplate="body" let-rowData let-columns="columns">
            <tr>
                <td *ngFor="let col of columns">
                    {{rowData[col.field]}}
                </td>
                <td>
                    <button class="btn btn-danger" (click)="editAdmission(rowData)">Edit</button>
                    <button class="btn btn-outlined-danger ml-2">Make Payment </button>
                </td>
            </tr>
        </ng-template>
    </p-table>
</div>


<p-dialog [(visible)]="admissionDialog" [style]="{width: '450px'}"
    [header]="isEdit ? 'Update Admission':'Add Admission'" [modal]="true" styleClass="p-fluid">
    <ng-template pTemplate="content">
        <form [formGroup]="addAdmissionsForm" class="p-3 pt-0">
            <div class="my-3" *ngIf="!isEdit">
                <div>
                    <label class="mb-3">Enter Associate Id</label>
                    <input type="text" class="form-input" placeholder="Enter Associate Id" formControlName="associateId"
                        [readonly]="isEdit" />
                </div>
                <div *ngIf="addAdmissionsForm?.get('associateId').invalid && addAdmissionsForm?.get('associateId').touched"
                    class="text-red ml-1">
                    <div *ngIf="addAdmissionsForm.get('associateId').errors?.['required']"><small>Associate Id is
                            required</small></div>
                </div>
            </div>
            <div class="my-3">
                <div>
                    <label>Enter Course Id</label>
                    <input class="form-input" placeholder="Enter Course Id" formControlName="courseId"
                        [readonly]="isEdit" />
                </div>
                <div *ngIf="addAdmissionsForm.get('courseId').invalid && addAdmissionsForm.get('courseId').touched"
                    class="text-red ml-1">
                    <div *ngIf="addAdmissionsForm.get('courseId').errors?.['required']"><small>Course Id is
                            required</small></div>
                </div>
            </div>

            <div class="my-3" *ngIf="isEdit">
                <div>
                    <label class="mb-3">Enter Feedback</label>
                    <input type="text" class="form-input" placeholder="Enter Feedback" formControlName="feedback" />
                </div>
                <div *ngIf="addAdmissionsForm.get('feedback').invalid && addAdmissionsForm.get('feedback').touched"
                    class="text-red ml-1">
                    <div *ngIf="addAdmissionsForm.get('feedback').errors?.['required']"><small>Feedback is
                            required</small></div>
                </div>
            </div>
            <div class="my-3" *ngIf="isEdit">
                <div>
                    <label class="mb-3">Enter Rating</label>
                    <input type="text" class="form-input" placeholder="Enter Rating" formControlName="rating" />
                </div>
                <div *ngIf="addAdmissionsForm.get('rating').invalid && addAdmissionsForm.get('rating').touched"
                    class="text-red ml-1">
                    <div *ngIf="addAdmissionsForm.get('rating').errors?.['required']"><small>Rating is required</small>
                    </div>
                </div>
            </div>
        </form>
    </ng-template>
    <ng-template pTemplate="footer">
        <button (click)="hideDialog()" class="btn btn-outlined-danger">Cancel</button>
        <button class="btn btn-black" (click)="addCourse()" [disabled]="!addAdmissionsForm.valid"> {{ isEdit ? 'Update
            Admission':'Save Admission'}} </button>
    </ng-template>
</p-dialog>