<div class="fixed w-full flex h-4rem align-items-center justify-content-between px-3 bg-white topbar-box-shadow z-5">
    <h2>TekGain</h2>
    <div class="flex justify-content-between w-3">
        <span class="underline cursor-pointer" routerLink="/dashboard/course"><strong>Course</strong></span>
        <span class="underline cursor-pointer" routerLink="/dashboard/admission"><strong>Admission</strong></span>
        <span class="underline cursor-pointer" routerLink="/dashboard/associate"><strong>Associate</strong></span>
    </div>
    <div>
        <button class="btn btn-danger" (click)="logout()">Logout</button>
    </div>
</div>
<div class="relative top-4rem container bg-white">
    <router-outlet></router-outlet>
</div>